html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: #191919;
    font-family: 'Orbitron', sans-serif;
}

#high-score {
    position: absolute;
    top: 60px;
    left: 20px;
    color: #0ff;
    font-size: 1.2rem;
    z-index: 100;
    pointer-events: none;
    text-shadow: 0 0 5px #0ff;
    opacity: 0.8;
}

#live-score {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 2rem;
    z-index: 100;
    pointer-events: none;
    text-shadow: 0 0 10px #0ff;
}

#canvas {
    background: url('img/space.jpg') no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: block;
    /* Removes default inline-block spacing */
}

#canvas.playing {
    cursor: url('img/aim_red.png') 17.5 17.5, auto !important;
}

.full-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}