<main class="flex-1 relative bg-[#17231E] flex items-center justify-center min-h-full">
  <!-- Background Image -->
  <img src="/assets/images/Arada2.svg" alt="Gaming Background" class="absolute inset-0 w-full h-auto object-cover z-0" />

    <div class="fixed left-4 top-1/2 transform -translate-y-1/2 z-10 hidden sm:flex flex-col space-y-4">
    <a href="#"><img src="/assets/icons/facebook.svg" class="w-6 h-6 sm:w-7 sm:h-7" /></a>
    <a href="#"><img src="/assets/icons/instagram.svg" class="w-6 h-6 sm:w-7 sm:h-7" /></a>
    <a href="#"><img src="/assets/icons/x.svg" class="w-6 h-6 sm:w-7 sm:h-7" /></a>
    <a href="#"><img src="/assets/icons/YoutubeLogo.svg" class="w-6 h-6 sm:w-7 sm:h-7" /></a>
    <a href="#"><img src="/assets/icons/TelegramLogo.svg" class="w-6 h-6 sm:w-7 sm:h-7" /></a>
  </div>
  <div class="w-full max-w-[700px] px-3 sm:px-4 relative z-10">
    <div class="bg-white bg-opacity-20 backdrop-blur-md rounded-3xl p-6 shadow-lg">
      
      <!-- User Info Header -->
      <div class="flex items-center justify-between mb-6">
        <div class="flex items-center space-x-4">
          <img src="/assets/images/user.png" alt="profile"
            class="w-16 h-16 rounded-full object-cover border-2 border-white shadow-md">
          <div>
            <h3 class="text-lg font-semibold text-white">Abeba Debebe</h3>
            <p class="text-sm text-gray-200">abebadebebe@gmail.com</p>
          </div>
        </div>
        <button
          class="px-4 py-1.5 border border-white text-white rounded-lg text-sm font-medium hover:bg-white hover:text-[#17231E] transition">
          Save
        </button>
      </div>

      <!-- Editable Form -->
      <form class="bg-[#FFF9F0] p-6 rounded-2xl grid grid-cols-1 sm:grid-cols-2 gap-4">
        <input type="text" placeholder="Full name"
          class="w-full border bg-[#FFF9F0] border-gray-300 rounded-lg px-3 py-2 text-sm outline-none focus:ring-2 focus:ring-[#2E3E38]" />
        
        <input type="text" placeholder="Nick name"
          class="w-full border bg-[#FFF9F0] border-gray-300 rounded-lg px-3 py-2 text-sm outline-none focus:ring-2 focus:ring-[#2E3E38]" />

        <input type="text" placeholder="Phone number"
          class="w-full border bg-[#FFF9F0] border-gray-300 rounded-lg px-3 py-2 text-sm outline-none focus:ring-2 focus:ring-[#2E3E38]" />
        
        <input type="email" placeholder="Email"
          class="w-full border bg-[#FFF9F0] border-gray-300 rounded-lg px-3 py-2 text-sm outline-none focus:ring-2 focus:ring-[#2E3E38]" />
      </form>
    </div>
  </div>
</main>
