<main class="flex-1 relative bg-[#17231E] flex items-center justify-center min-h-full">
  <!-- Background Image -->
  <img src="/assets/images/Arada2.svg" alt="Gaming Background" class="absolute inset-0 w-full h-auto object-cover z-0" />

  <!-- Social Icons (Left side) -->
  <div class="fixed left-4 top-1/2 transform -translate-y-1/2 z-10 hidden sm:flex flex-col space-y-4">
    <a href="#"><img src="/assets/icons/facebook.svg" class="w-6 h-6 sm:w-7 sm:h-7" /></a>
    <a href="#"><img src="/assets/icons/instagram.svg" class="w-6 h-6 sm:w-7 sm:h-7" /></a>
    <a href="#"><img src="/assets/icons/x.svg" class="w-6 h-6 sm:w-7 sm:h-7" /></a>
    <a href="#"><img src="/assets/icons/YoutubeLogo.svg" class="w-6 h-6 sm:w-7 sm:h-7" /></a>
    <a href="#"><img src="/assets/icons/TelegramLogo.svg" class="w-6 h-6 sm:w-7 sm:h-7" /></a>
  </div>

  <!-- Contact Form Container -->
  <div class="w-full max-w-[600px] px-3 sm:px-4 relative z-10">
    <div class="bg-white bg-opacity-20 backdrop-blur-md rounded-3xl p-6 shadow-lg">

      <!-- Header -->
      <div class="flex items-center justify-center mb-6">
        <img src="/assets/icons/phone.svg" alt="phone" class="w-8 h-8 mr-2">
         <h2 class="text-3xl font-bold text-white text-center">Contact us</h2>
      </div>

      <!-- Form -->
      <form #contactForm="ngForm" (ngSubmit)="submit(contactForm)" class="bg-[#FFF9F0] p-6 rounded-2xl space-y-4">
        <input 
          type="text" 
          name="fullName"
          placeholder="Full name" 
          [(ngModel)]="formData.fullName"
          required
          class="w-full border bg-[#FFF9F0] border-gray-300 rounded-lg px-3 py-2 text-sm outline-none focus:ring-2 focus:ring-[#2E3E38]" 
        />
        <input 
          type="text" 
          name="phoneNumber"
          placeholder="Phone no" 
          [(ngModel)]="formData.phoneNumber"
          required
          class="w-full border bg-[#FFF9F0] border-gray-300 rounded-lg px-3 py-2 text-sm outline-none focus:ring-2 focus:ring-[#2E3E38]" 
        />
        <textarea 
          name="message"
          placeholder="Message" 
          rows="5" 
          [(ngModel)]="formData.message"
          required
          class="w-full border bg-[#FFF9F0] border-gray-300 rounded-lg px-3 py-2 text-sm outline-none focus:ring-2 focus:ring-[#2E3E38]"></textarea>
        <p *ngIf="successMessage" class="text-sm text-green-700">{{ successMessage }}</p>
        <p *ngIf="errorMessage" class="text-sm text-red-700">{{ errorMessage }}</p>
        <button 
          type="submit" 
          [disabled]="submitting"
          class="w-full bg-[#2E3E38] text-white rounded-lg py-2 text-sm font-medium hover:bg-[#25332D] transition">
          {{ submitting ? 'Sending...' : 'Send' }}
        </button>
      </form>

    </div>
  </div>
</main>
